@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
font-family: 'Poppins','Open Sans', Arial;
 min-height: max-content;
 
}


nav {
  height: 80px;
  padding: px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url(hero.png);  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 
}


.logo-container {
  
  
  padding-right: 100px;
  filter: drop-shadow(100px 5px 100px #ffffff);
  
}

.logo {
  width: 190px; 
  height: 100; 
  padding: 10px;

}
.logo:hover{
    filter: drop-shadow(0px 3px 16px orange);
}

.nav-items {
  padding-right: 3rem;
   display: flex;
}

.nav-items a {
  text-decoration: solid;
  color: white;
  font-size: 1rem;
  padding: 0 1.5rem;

}

.nav-items a:hover {
  color: #000;
 color: ORANGE;
  text-shadow:0px 0px 30px yellow;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  
}
.hero {
  background-image: url(hero.png);
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
 }

h1{
  padding: 20px;
  padding-bottom: 2px;
  text-align: center;
  color: #ffffff;
  font-size: 75px;
}

h1:hover{
  color: #ffc736;
}

h2{
  padding-top: 2px;
  padding-bottom: 25px;
  text-align: center;
  color: #FFC736;
}
h2:hover{
  color: #ffffff;
} 

p{
  text-align: center;
  display: block;
  color: white;
  line-height: 1.9;
  padding-bottom: 25px;
}
p:hover{
  transition: all 0.3s ease-in;
  
  animation: myAnim 5s linear 0s 1 normal forwards;
 }
 @keyframes myAnim {
   0% {
     transform: scale(1);
   }
 
   50% {
     transform: scale(1.1);
   }
 
   100% {
     transform: scale(1);
   }
 }
 
 @media screen and (max-width: 768px) {
   .hero-container {
     grid-template-columns: 1fr;
   }
 }
 
.center {
  margin: auto;
  width: 50%;
  display: flex;
  display: block;
}

.center:hover{
  filter: drop-shadow(0 0 .75rem white);
  transition: all 0.3s ease-in;
  
 animation: myAnim 5s linear 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@media screen and (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
}


span{
 font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 3px;
  text-decoration-color: #FFC736;
 color: white;
}

img{
  padding: 10px; 
}
